.container {
  display: flex;
  flex: 1;
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.image-console {
  width: 100px;
  height: 50px;
  padding: 10px;
}

.container:hover {
  filter: invert(1);
  cursor: pointer;
}
